*.ipr
*.bak
*.iws
*.iml
*.ids
*/target/*
*/build/*
*/test/reports/html*
*/test/reports/plain*
*/test/reports/*
*/test-output/*
*.log
*.log.*
*test-output/*
*.orig
*out/*
.project
.tmp_*
*Thumbs.db
*.sql~
.settings/*
*/*.idea/*
*.idea/*
atlassian-ide-plugin.xml
*.DS_Store
.classpath
.settings
move_configs.sh
*sun-jaxb.episode
fake.xml
*SeleniumFailureTestScreenshots/*
